
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
h1{
    visibility: hidden;
    padding: 0px;
    margin: 0px;
}

header{
    margin-left: 568px;
    height: 100px;
    
    background-image: url(../pre-entrega/img/fondo\ god.png);
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: right;
    background-color: #051f5a;
    font-family: Georgia, Cambria, Times, "Times New Roman", serif;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
#inicio:hover{
    color: red;
}
#contacto:hover{
    color: red;
}
#videos:hover{
    color: red;
}
#imagenes:hover{
    color: red;
}
.row{
    width: 100%;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 1;
    margin-top: 103px;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
}
section{
    flex: 68%;
    background-image: url(img/juega.jpeg);
    background-repeat: no-repeat;
    border-left: 2px solid #051f5a;
    
}

footer{
    font-size: 25px;
    padding: 23px;
    text-align: center;
    background-color: #051f5a;
    display: flex;
    justify-content: space-around;
}
#twitter{
    color: white;
}
#facebook{
    color: white;
}
#web{
    color: white;
}
#youtube{
    color: white;
}
#twitter:hover{
    font-size: 30px;
    color: cadetblue;
}
#facebook:hover{
    font-size: 30px;
    color: blue;
}
#web:hover{
    font-size: 30px;
    color: green;
}
#youtube:hover{
    font-size: 30px;
    color: red;
}
@media  (min-width: 260px) and (max-width: 700px){
    nav, .row {
        flex-direction: column;
        
    }
    header{
        margin-left: -300px;
        
    }
    .row{
        
        height: 550vh;
        
    }
}
@media (min-width: 700px) and (max-width: 960px) {
    nav, .row {
        flex-direction: column;
    }
    header{
        margin-left: -154px;
        
    }
    
    section{
        flex: 68%;
        background-image: url(img/juega.jpeg);
        background-repeat: no-repeat;
        border-left: 2px solid #051f5a;
        
    }

}
@media  (min-width: 960px) and (max-width: 1500px){
    header{
        margin-left: 100px;
        
    }
    section{
        flex: 68%;
        background-image: url(img/juega.jpeg);
        background-repeat: no-repeat;
        border-left: 2px solid #051f5a;
        
    }
    

}